<div class="bg-primary text-white px-5 py-4 footer">
    <div class="container">
        <div class="row no-gutters mb-3">
            <h4 class="col-auto mr-4"><a>About</a></h4>
            <h4 class="col-auto"><a>Contact</a></h4>
        </div>

        <p>
            This work includes part of Office of the Clerk and Parliamentary Services' explanatory notes and Member
            profiles which is licenced by the Clerk of the House of Representatives and the Parliamentary Corporation on
            behalf of Parliamentary Services for re-use under the Creative Commons Attribution 4.0 international
            licence. Full licence available at <a class="text-white" href="https://creativecommons.org/licenses/by/4.0/"
                target="_blank">https://creativecommons.org/licenses/by/4.0/</a>.
        </p>

        <p>
            Content derived from Parliamentary Debates (Hansard), Bills and Acts of Parliament is licenced under public
            domain. Supplementary Order Papers are reproduced under the <a
                href="https://www.legislation.govt.nz/about.aspx#copyright" class="text-white" target="_blank">terms on
                the New Zealand Legislation website</a>.
        </p>

        <p>Photos of MPs are either owned by and used with permission from their respective copyright owners, or
            obtained from Parliament TV, under the provisions of <a
                href="https://www.parliament.nz/en/pb/parliamentary-rules/standing-orders-2020-by-chapter/appendix-d-coverage-of-proceedings/"
                target="_blank" class="text-white">Schedule D of the Standing Orders of the House of
                Representatives</a>.
        </p>

        <p>Original website content is licenced under the <a href="https://creativecommons.org/licenses/by/4.0/"
                class="text-white" target="_blank">Creative Commons Attribution 4.0 international licence</a>.</p>
    </div>
</div>