<div class="bg-primary px-5 py-4">
  <div class="container">
    <div class="text-white">
      <h1 class="font-weight-bold">Vote Tracker</h1>
      <h5 class="font-weight-bold"><em>A comprehensive collection of NZ Parlimentary voting records</em></h5>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white mr-3" routerLink="/"><i class="fa fa-home text-secondary mr-2"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mr-3"><i class="fa fa-chart-bar text-secondary mr-2"></i> Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mr-3"><i class="fa fa-file-alt text-secondary mr-2"></i> Bills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mr-3"><i class="fa fa-users text-secondary mr-2"></i> Parties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mr-3"><i class="fa fa-user text-secondary mr-2"></i> MPs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mr-3"><i class="fa fa-search text-secondary mr-2"></i> Search</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>