<h5 class="text-center">
    Vote Tracker is a project that aims to record almost every vote on every bill, motion and amendment that is voted on
    in Parliament. This allows you to see where every party and MP stands on every issue, and importantly where they
    agree or disagree.
</h5>

<div class="row no-gutters d-lg-flex d-none" *ngIf="toplineStats">
    <div class="col"></div>
    <div class="col-auto text-center">
        <h1 class="text-secondary font-weight-bold display-4">
            {{toplineStats.votes | number}}
        </h1>
        <h5>Votes</h5>
    </div>

    <div class="col"></div>
    <div class="col-auto text-center">
        <h1 class="text-secondary font-weight-bold display-4">
            {{toplineStats.partyVotes | number}}
        </h1>
        <h5>Party Votes</h5>
    </div>

    <div class="col"></div>
    <div class="col-auto text-center">
        <h1 class="text-secondary font-weight-bold display-4">
            {{toplineStats.voiceVotes | number}}
        </h1>
        <h5>Voice Votes</h5>
    </div>

    <div class="col"></div>
    <div class="col-auto text-center">
        <h1 class="text-secondary font-weight-bold display-4">
            {{toplineStats.personalVotes | number}}
        </h1>
        <h5>Personal Votes</h5>
    </div>

    <div class="col"></div>
    <div class="col-auto text-center">
        <h1 class="text-secondary font-weight-bold display-4">
            {{toplineStats.members | number}}
        </h1>
        <h5>MPs</h5>
    </div>

    <div class="col"></div>

    <div class="col-12">
        <h4 class="text-center mt-3">
            Across <span class="text-secondary">{{toplineStats.parliaments | number}} Parliaments</span>, spanning <span
                class="text-secondary">{{toplineStats.years | number}} years</span>, with <span
                class="text-secondary">{{toplineStats.parties | number}} political parties</span>.
        </h4>
    </div>
</div>

    <div class="alert alert-info mt-5">
        <p>While every attempt is made at ensuring accurate vote data, as the data is extracted automatically from Parliament's website, some information may not be accurate or might be missing.</p>

        <p class="mb-0">However, many inaccuracies can be manually fixed, so if you notice one, feel free to contact us to request that it be fixed.</p>
    </div>

    <div *ngIf="meta" class="w-100" id="questions">
        <div class="d-flex flex-row justify-content-between align-items-center mb-2">
            <h1>Recent Votes</h1>
            <p class="text-muted" *ngIf="meta.content.length != 0">Displaying {{skip + 1 | number}}-{{(skip + 20 > meta.length ? meta.length : skip + 20) | number}} of {{meta.length | number}}</p>
        </div>
        <div class="row no-gutters">
            <div class="col-auto">
                <button class="btn mr-2" [class.btn-light]="voteType != null" [class.btn-primary]="voteType == null" (click)="setVoteType(null)">
                    <i class="fa fa-check mr-1"></i> All votes
                </button>
            </div>

            <div class="col-auto">
                <button class="btn btn-light mr-2" [class.btn-light]="voteType != 'PartyVote'" [class.btn-primary]="voteType == 'PartyVote'" (click)="setVoteType('PartyVote')">
                    <i class="fa fa-users mr-1"></i> Party votes
                </button>
            </div>

            <div class="col-auto">
                <button class="btn btn-light mr-2" [class.btn-light]="voteType != 'PersonalVote'" [class.btn-primary]="voteType == 'PersonalVote'" (click)="setVoteType('PersonalVote')">
                    <i class="fa fa-user mr-1"></i> Personal votes
                </button>
            </div>

            <div class="col-auto">
                <button class="btn btn-light mr-2" [class.btn-light]="voteType != 'VoiceVote'" [class.btn-primary]="voteType == 'VoiceVote'" (click)="setVoteType('VoiceVote')">
                    <i class="fa fa-bullhorn mr-1"></i> Voice votes
                </button>
            </div>
        </div>

        <app-question-list-item *ngFor="let question of meta.content" [question]="question"></app-question-list-item>

        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center my-2">
            <button class="btn mr-2 btn-light" (click)="pageSelector(false)" [disabled]="skip == 0">
                <i class="fa fa-chevron-left"></i>
            </button>

            <button *ngIf="showMinPage()" class="btn mr-2 btn-light" (click)="loadPage(1)">
                1
            </button>

            <p class="mb-0 mr-2" *ngIf="showMinPage()">...</p>

            <button *ngFor="let page of getPages()" class="btn mr-2" (click)="loadPage(page)"
            [class.btn-light]="getCurrentPage() != page" [class.btn-primary]="getCurrentPage() == page">
                {{page}}
            </button>

            <p class="mb-0 mr-2" *ngIf="showMaxPage()">...</p>

            <button *ngIf="showMaxPage()" class="btn mr-2 btn-light" (click)="loadPage(getMaxPage())">
                {{getMaxPage()}}
            </button>

            <button class="btn mr-2 btn-light" (click)="pageSelector(true)" [disabled]="skip >= meta.length - 20">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>